@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  /* Indigo 500 */
  --color-secondary: #8b5cf6;
  /* Violet 500 */
  --color-dark: #0f172a;
  /* Slate 900 */
  --color-surface: #1e293b;
  /* Slate 800 */
  --color-accent: #38bdf8;
  /* Sky 400 */
}

body {
  @apply bg-dark text-white;
}